@font-face {
  font-family: 'Sansation';
  src: url('./assets/fonts/Sansation-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('./assets/fonts/Sansation-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

:root {
  --app-max-width: 1600px;
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Sansation, sans-serif;
  background: #00285B url('./assets/images/wave.svg') bottom no-repeat fixed;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}
